<div class="text-center mt-5" th:with="
studentName=${@environment.getProperty('student.name')},
studentGroup=${@environment.getProperty('student.group')},
projectName=${@environment.getProperty('student.project')}
">
    <h1 class="display-4">Welcome to Our Course Project!</h1>
    <p class="lead">Enhance your skills in Java web development with us.</p>
    <div th:if="${studentName eq '' or studentGroup eq ''}">
        <p class="lead">Please, go to "Config/ProjectInfo.cs" and complete the required fields.</p>
    </div>
    <div th:if="${projectName eq 'MyProject'}">
        <p class="lead">Please, go to "Config/ProjectInfo.cs" and change the project name.</p>
    </div>
    <div th:if="${studentName ne '' and studentGroup ne '' and projectName ne 'MyProject'}">
        <p class="lead">Student Name: <span th:text="${studentName}"></span></p>
        <p class="lead">Group: <span th:text="${studentGroup}"></span></p>
    </div>
</div>
