<div class="container mt-4">
    <h2>User List</h2>
    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Username</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td>
                <a href="@{'/modify/' + ${user.id}}" class="btn btn-primary">Modify</a>
                <a href="@{'/delete/' + ${user.id}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>